body {
    margin: 0;
    padding: 0;
}

/* Стили для контейнера, в котором будет отображаться облако точек */

#potree_render_area {
    width: 100%;
    height: 600px; /* Высота контейнера для облака точек */
    border: 1px solid #ccc; /* Параметры рамки контейнера */
}
