* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 
 body {
    font-family: 'Poppins', Arial, sans-serif; /* Updated font to 'Poppins' */
    line-height: 1.6;
    background-color: #262626;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
 }
 
 header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: 'Roboto', Arial, sans-serif; /* Updated font to 'Roboto' */
 }
 
 section {
    overflow: hidden;
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-family: 'Open Sans', Arial, sans-serif; /* Updated font to 'Open Sans' */
 }
 
 .button-container {
    float: none;
    margin-bottom: 20px;
    background-color: #444;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Nunito', Arial, sans-serif; /* Updated font to 'Nunito' */
 }
 
 .image-link {
   max-width: 300px; /* Задаем максимальную ширину контейнера */
   margin: 0 auto; /* Центрируем контейнер на странице */
   text-align: center; /* Центрируем изображение внутри контейнера */
}

.image-link img {
   max-width: 100%; /* Устанавливаем максимальную ширину изображения */
   height: auto; /* Позволяем изображению масштабироваться при сохранении пропорций */
   display: block; /* Отображаем изображение как блочный элемент */
   transition: transform 0.3s, filter 0.3s ease-in-out;
   border-radius: 10px;
}

 
 .content {
    border-radius: 10px;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Lato', Arial, sans-serif; /* Updated font to 'Lato' */
 }
 
 h2 {
    font-size: 22px;
    margin: 10px 0;
    color: #eee;
    text-align: center;
    font-family: 'Montserrat', Arial, sans-serif; /* Updated font to 'Montserrat' */
 }
 
 p {
    text-align: justify;
    margin-bottom: 15px;
    color: #ccc;
    font-family: 'Karla', Arial, sans-serif; /* Updated font to 'Karla' */
 }
 
 a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #38a745;
    padding: 4px 4px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    font-family: 'Oswald', Arial, sans-serif; /* Updated font to 'Oswald' */
 }
 
 a:hover {
    background-color: #44cb54;
 }
 